
@model MemberUpdateViewModel
<!-- Check header begin -->
<div class="outHeader">
    <div class="outHeader_checkout">
        Profil
    </div>
</div>
<!-- Check header end -->
<!-- Account detail begin -->
<div class="accountdetail">
    <div class="accountdetail_wrap">
        <form action="profile" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="CurrentMemberName" value="@User.Identity.Name" />
            <div class="accountdetail_details">
                <div class="register_group">
                    <div class="register_groupName">
                        Fullname
                    </div>
                    <div class="register_groupInput">
                        <input type="text" class="register_input" asp-for="Fullname" />
                        <span class="text-danger" asp-validation-for="Fullname"></span>
                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        Email
                    </div>
                    <div class="register_groupInput">
                        <input type="text" class="register_input" asp-for="Email">
                        <span class="text-danger" asp-validation-for="Email"></span>

                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        Phone
                    </div>
                    <div class="register_groupInput">
                        <input type="text" class="register_input" asp-for="Phone">
                        <span class="text-danger" asp-validation-for="Phone"></span>

                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        Old Password
                    </div>
                    <div class="register_groupInput">
                        <input type="password" class="register_input" asp-for="OldPassword">
                        <span class="text-danger" asp-validation-for="OldPassword"></span>

                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        New Password
                    </div>
                    <div class="register_groupInput">
                        <input type="password" class="register_input" asp-for="NewPassword">
                        <span class="text-danger" asp-validation-for="NewPassword"></span>

                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        Confirm New Password
                    </div>
                    <div class="register_groupInput">
                        <input type="password" class="register_input" asp-for="ConfirmPassword">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupName">
                        Image
                    </div>
                    <div class="register_groupInput">
                        <input class="form-control register_input" type="file" asp-for="UploadImage" style="border: 1px solid gray;">
                        <span class="text-danger" asp-validation-for="UploadImage"></span>
                    </div>
                </div>

                <div class="register_group">
                    <div class="register_groupInput" style="position: relative;">
                        <img src="~/assets/image/account/@Model.Image" alt="" style="width: 85px; height: 85px; padding-top:10px; ">

                    </div>
                </div>


                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="register_group accountdetail_buttons">
                    <div class="register_button">
                        <button type="submit" class="register_link accountdetail_btnSave">Save Changes</button>
                    </div>
                    <div class="register_button ">
                        <a asp-controller="account" asp-action="logout" class="register_link accountdetail_btnOut">Log out</a>
                    </div>
                </div>

            </div>
        </form>
        <div class="accountdetail_orders">

            @if (Model.orders == null || Model.orders.Count == 0)
            {


                <p class="accountdetail_noorder">
                    No order has been made yet.
                </p>
            }
            else
            {


                <div class="accountdetail_orderItem">

                    <table class="table table-hover ">
                       
                         
                        
                        <tbody>
                            <tr style="padding:10px 0 20px 0">
                                <th scope="col" class="accountdetail_tableHead">Order no</th>
                                <th scope="col" class="accountdetail_tableHead">Room</th>
                                <th scope="col" class="accountdetail_tableHead">Guests</th>
                                <th scope="col" class="accountdetail_tableHead">Delete</th>
                            </tr>
                            @foreach (var order in Model.orders)
                            {
                                <tr>
                                    <td class="accountdetail_tableContent">@order.OrderId</td>
                                    <td class="accountdetail_tableContent">
                                        @order.Room.Name
                                    </td>
                                    <td class="accountdetail_tableContent">
                                        Adults:@order.Adult Childrend:@order.Children Infant:@order.Infant
                                    </td>
                                    <td>
                                        <a asp-action="deleteorder" asp-route-id="@order.OrderId" asp-route-orderRoomid="@order.id"
                                           class="accountdetail_orderCrud accountdetail_delete btn btn-outline-danger">delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            }
        </div>
    </div>
</div>
<!-- Account detail end -->
