@model List<Order>
<div class="grid-margin stretch-card" style="width:90%; height:90%; margin: 0 auto; ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-size:30px;">Order Table</h4>
            @if( ViewBag.IsDeleted == true)
            {
                            <a class="btn btn-primary text-white" asp-action="index">All Order Without Deleted</a>

            }
            else
            {
                             <a class="btn btn-danger text-white" asp-action="index" asp-route-key="deleted">All Order With Deleted</a>

            
            }
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Note</th>
                            <th>Phone</th>
                            <th>Create at</th>
                            <th>Modified at</th>
                            <th>Total Price</th>
                            <th>Deleted</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @( item.Note == null || item.Note.Length < 10 ?item.Note:item.Note.Substring(0,10))
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @item.CreateAt.ToShortDateString()
                                </td>
                                <td>
                                    @item.ModifiedAt.ToShortDateString()
                                </td>
                                <td>
                                    @item.TotalPrice
                                </td>
                                <td>
                                    @item.IsDeleted
                                </td>
                                @if (ViewBag.IsDeleted == true)
                                {
                                    <td><a class="btn btn-outline-primary" asp-action="orderDetail" asp-route-id="@item.id" asp-route-key="deleted">Detail</a></td>

                                }
                                else{
                                <td><a class="btn btn-outline-primary" asp-action="orderDetail" asp-route-id="@item.id">Detail</a></td>
                                <td><a class="btn btn-outline-warning" asp-action="editOrder" asp-route-id="@item.id">Edit</a></td>
                                <td><a class="btn btn-outline-danger" asp-action="deleteOrder" asp-route-id="@item.id">Delete</a></td>
                                }
                            </tr>
                        </tbody>


                    }
                </table>
            </div>
        </div>
    </div>
</div>


