@inject UserManager<AppUser> userManager
@{
    Layout = null;
    int counter;
    AppUser member = null;
    if (User.Identity.IsAuthenticated)
    {
        member = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
}
@model HomeViewModels
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allogio - Hotel Booking</title>

    <!-- favicon begin -->
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-32x32.png">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-180x180.png">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-192x192.png">
    <!-- favicon end -->
    <!-- grid begin -->
    <link rel="stylesheet" href="~/assets/css/grid.css">
    <!-- grid end -->
    <!-- font awesome begin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- font awesome end -->
    <!-- bootstrap begin -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- bootstrap end -->
    <!-- jQuery begin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js " defer></script>
    <!-- jQuery end -->
    <!-- Flat  begin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">

    <!-- Flat  end -->
    <!-- Owl Carousel begin -->
    <link rel="stylesheet" href="~/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <script src="~/assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js" defer></script>
    <!-- Owl Carousel end -->
    <!-- main css begin -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- main css end -->
    <!-- script begin -->
    <script src="~/assets/js/script.js" defer></script>
    <!-- script end -->
    <!-- Google font begin -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;352;400&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap"
          rel="stylesheet">
    <!-- Google font end -->


</head>

<body>
    <!-- Header begin -->
    <header>
        <div class="header-inner">
            <div class="header-inner_hamburgerImage">
                <img src="~/assets/image/header logo/responsive logo.png" class="header-inner_hamburgerImageLink" alt="">
            </div>
            <div class="header-inner_left">
                <div class="header-inner_widget">
                    <div class="header-inner_city">Baku</div>
                    <div class="header-inner_weatherIconWrap">

                    </div>

                    <div class="header-inner_weatherTemperature">
                        7
                        <sup>o</sup>
                        C
                    </div>
                </div>
                <div class="header-inner_leftMenuWrap">
                    <nav class="header-inner_navigate">
                        <ul class="header-inner_leftMenu">
                            <li class="header-inner_menuItem">
                                <a asp-controller="home" asp-action="index" class="header-inner_menuItemLink">HOME</a>
                            </li>


                            <li class="header-inner_menuItem">
                                <a asp-controller="room" asp-action="allroom" class="header-inner_menuItemLink">ROOMS</a>
                            </li>



                            <li class="header-inner_menuItem">
                                <a asp-controller="home" asp-action="menu" class="header-inner_menuItemLink">MENUS</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="header-inner_center">
                <a asp-controller="home" asp-action="index">
                    <img src="~/assets/image/Central Logo/logo-light.png" alt="" class="header-inner_centralLogo">
                </a>
            </div>

            <div class="header-inner_right">
                <div class="header-inner_rightMenuWrap">
                    <nav class="header-inner_navigate">
                        <ul class="header-inner_rightMenu">
                            <li class="header-inner_menuItem">
                                <a asp-controller="home" asp-action="gallery" class="header-inner_menuItemLink">GALLERY</a>
                            </li>

                            <li class="header-inner_menuItem">
                                <a asp-controller="blog" asp-action="index" class="header-inner_menuItemLink">BLOG</a>
                            </li>

                            <li class="header-inner_menuItem">
                                <a asp-controller="contact" asp-action="index" class="header-inner_menuItemLink">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-inner_account">
                    @if (member != null)
                    {
                        <a asp-controller="account" asp-action="profile" class="header-inner_accountEmail">
                            @member.Email
                        </a>
                    }
                    else
                    {
                        <a asp-controller="account" asp-action="login" class="header-inner_accountEmail">
                            Log in
                        </a>
                    }
                </div>
            </div>

            <div class="header-inner_hamburger">
                <div class="header-inner_hambugerInner">
                    <span class="header-inner_hamburgerItem"></span>
                    <span class="header-inner_hamburgerItem"></span>
                    <span class="header-inner_hamburgerItem"></span>
                </div>
            </div>
        </div>

    </header>

    <div class="mobilemenu">
        <div class="mobilemenu_item">
            <a asp-controller="home" asp-action="index" class="mobilemenu_link">Home</a>
        </div>
        <div class="mobilemenu_item">
            <a asp-controller="room" asp-action="allroom" class="mobilemenu_link">Rooms</a>
        </div>
        <div class="mobilemenu_item">
            <a asp-controller="home" asp-action="menu" class="mobilemenu_link">Menus</a>
        </div>
        <div class="mobilemenu_item">
            <a asp-controller="home" asp-action="gallery" class="mobilemenu_link">Gallery</a>
        </div>
        <div class="mobilemenu_item">
            <a asp-controller="blog" asp-action="index" class="mobilemenu_link">Blog</a>
        </div>
        <div class="mobilemenu_item">
            <a asp-controller="contact" asp-action="index" class="mobilemenu_link">Contact</a>
        </div>
    </div>
    <!-- Header end -->
    <!-- Slider begin -->
    <div class="slider">
        <div id="carouselExampleControls" class="carousel slide">
            <div class="carousel-inner">
                @(counter = 0);
                @foreach (var item in Model.Sliders)
                {

                    <div class="carousel-item @(counter==0?"active":" ")">
                        <img src="~/assets/image/slider/@item.Image" class="d-block w-100 slider_image" alt="...">
                        <div class="carousel-caption d-md-block slider_caption">
                            <div class="slider_captionHeader">
                                @item.Header
                            </div>
                        </div>
                    </div>
                    counter++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Slider end -->
    <!-- Checking begin -->
    @Html.Partial("_MainChecking", Model.MainChecking)
    <!-- Chechking end -->
    <!-- Suits section begin -->
    <div class="suit">
        <div class="suit_wrapHead">
            <div class="suit_wrapHeader">
                Urban Spirit of Helsinki
            </div>
            <div class="suit_wrapDescription">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.
            </div>
        </div>
        <div class="owl-carousel owl-theme">

            @foreach (var item in Model.Rooms)
            {
                <div class="suit_wrap">
                    <div class="suit_card">
                        <div class="suit_cardImage">
                            <img src="~/assets/image/Room/RoomMainImage/@item.Image" class="suit_image" alt="">
                        </div>
                        <div class="suit_info">
                            <div class="suit_cardHeader">
                                <div class="suit_name">@item.Name</div>
                                <div class="suit_price">
                                    <span class="suit_from">from</span>
                                    <span class="suit_pricespan">@item.Price $</span>
                                </div>
                            </div>
                            <div class="suit_volume">
                                @item.Size m2 / @item.GuestRange person
                            </div>
                            <div class="suit_description">
                                @item.Description.Substring(0, 150) ...
                            </div>
                            <div class="suit_cardButton">
                                <a class="suit_button" asp-controller="room" asp-action="singleroom" asp-route-id="@item.id">BOOK NOW +</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- Suits section end -->
    <!-- Services begin -->
    <div class="services">
        <div class="services_header">
            @Model.Settings["ServiceHeader"]
        </div>

        <div class="services_description">
            @Model.Settings["ServiceDescription"];
        </div>

        <div class="services_itemWrap">
            <div class="services_items">
                <div class="row service_columnWrap">
                    <div class="services_column">

                        @for (int i = 0; i < Model.Services.Count / 2; i++)
                        {
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="services_item">
                                    <div class="services_itemIcon">
                                        @Html.Raw(Model.Services[i].Image)
                                    </div>
                                    <div class="services_itemTitle">
                                        @Model.Services[i].Name
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                    <div class="services_column">

                        @for (int i = (Model.Services.Count / 2); i < Model.Services.Count; i++)
                        {
                            <div class="col-2 col-md-2 col-lg-2">
                                <div class="services_item">
                                    <div class="services_itemIcon">
                                        @Html.Raw(Model.Services[i].Image)
                                    </div>
                                    <div class="services_itemTitle">
                                        @Model.Services[i].Name
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Services  end -->
    <!-- Testimonial begin -->
    <div class="testimonial">
        <div class="testimonial_header">
            @Model.Settings["TestimonialHeader"]
        </div>
        <div class="testimonial_wrap">
            @foreach (var item in Model.Testimonials)
            {
                <div class="testimonial_item">
                    <div class="testimonial_logoWrap">
                        <img src="~/assets/image/testimonial/@item.Image" class="testimonial_logo" alt="">
                    </div>
                    <div class="testimonial_content">

                        <div class="testimonial_description">
                            @item.Description
                        </div>
                        <div class="testimonial_name">
                            @item.Name
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    <!-- Testimonial end -->
    <!-- Subscription begin -->
    <div class="subscription">
        <div class="subscription_wrap">
            <div class="subscrition_icon">
                @Html.Raw(Model.Settings["SubscriptionImage"])
            </div>
            <div class="subscription_type">
                @Model.Settings["SubscriptionHeader"]
            </div>
            <form action="home" method="post" style="display:flex">
                <div class="subscrition_input">
                    <input type="text" class="subscription_emailInput" placeholder="Email Address" asp-for="SubscriptionEmail">
                </div>
                <div class="subscription_button">
                    <button type="submit" class="subscription_signButton">
                        @Model.Settings["SubscriptionBtn"]
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Subscription end -->
    <!-- Footer begin  -->
    <footer>
        <div class="footer-top-area">
            <div class="footer-top-area_inner row">

                <div class="footer-top-area_about col-4">
                    <div class="footer-top-area_aboutHeader">
                        About
                    </div>
                    <div class="footer-top-area_aboutDescription">
                        @Model.Settings["AboutDescription"]
                    </div>
                    <div class="footer-top-area_aboutPartner">
                        <img src="~/assets/image/partner logo/@Model.Settings["AboutImage"]" alt="">
                    </div>
                </div>

                <div class="footer-top-area_contact col-3">
                    <div class="footer-top-area_contactHeader">
                        Contact
                    </div>
                    <div class="footer-top-area_contactDescription">
                        <p class="footer-top-area_contactDescriptionItem">
                            A: <a href="#" class="footer-top-area_contactDescriptionLink">
                                @Model.Settings["Address"]
                            </a>
                        </p>

                        <p class="footer-top-area_contactDescriptionItem">
                            P: <a href="#" class="footer-top-area_contactDescriptionLink">
                                @Model.Settings["Phone"]
                            </a>
                        </p>

                        <p class="footer-top-area_contactDescriptionItem">
                            App: <a href="#" class="footer-top-area_contactDescriptionLink">
                                Viber, WhatsApp
                            </a>
                        </p>

                        <p class="footer-top-area_contactDescriptionItem">
                            E: <a href="#" class="footer-top-area_contactDescriptionLink">
                                @Model.Settings["Email"]

                            </a>
                        </p>
                    </div>
                    <div class="footer-top-area_contactShowOnMap">
                        <a href=" @Model.Settings["Location"]" class="footer-top-area_contactShowOnMapLink">
                            SHOW ON MAP +
                        </a>
                    </div>
                </div>

                <div class="footer-top-area_payment col-3">
                    <div class="footer-top-area_paymentHeader">
                        Payment methods
                    </div>
                    <div class="footer-top-area_paymentDescription">
                        @Model.Settings["PaymentHeader"]
                    </div>
                    <div class="footer-top-area_paymentMethods">
                        <a href="@Model.Settings["Visa"]" class="footer-top-area_paymentItem">
                            <i class="fa-brands fa-cc-visa footer-top-area_paymentItemLink"></i>
                        </a>

                        <a href="@Model.Settings["PayPal"]" class="footer-top-area_paymentItem">
                            <i class="fa-brands fa-cc-paypal footer-top-area_paymentItemLink"></i>
                        </a>

                        <a href="@Model.Settings["MasterCard"]" class="footer-top-area_paymentItem">
                            <i class="fa-brands fa-cc-mastercard footer-top-area_paymentItemLink"></i>
                        </a>
                    </div>
                </div>

                <div class="footer-top-area_social col-2">
                    <div class="footer-top-area_socialHeader">
                        Get Social
                    </div>
                    <div class="footer-top-area_socialDescription">
                        @Model.Settings["SocialHeader"]
                    </div>
                    <div class="footer-top-area_socialLinks">

                        <a href="@Model.Settings["Facebook"]" class="footer-top-area_socialLinksItem">
                            <i class="fa-brands fa-facebook-square footer-top-area_socialItemLink"></i>
                        </a>

                        <a href="@Model.Settings["Twitter"]" class="footer-top-area_socialLinksItem">
                            <i class="fa-brands fa-twitter-square footer-top-area_socialItemLink"></i>
                        </a>

                        <a href="@Model.Settings["Instagram"]" class="footer-top-area_socialLinksItem">
                            <i class="fa-brands fa-instagram-square footer-top-area_socialItemLink"></i>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="footer-bottom-area_bottomInner">
                <p class="footer-bottom-area_copyright">
                    @Model.Settings["FooterText"]
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <div class="backToTop" id="BackToTop">
        <div class="backToTop_Inner">
            <i class="fa-solid fa-chevron-up backToTop_icon"></i>
            <div class="backToTop_frameInner">
            </div>
        </div>
    </div>

</body>
</html>