
@{
    ViewData["Title"] = "Menu";
}
@model CookingMenuViewModel
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/menu/@Model.Settings["CookingMenuImage"]" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Menu Page</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Continental begin -->
<div class="continental">
    <div class="continental_header">
        @Model.Settings["CookingMenu"]
    </div>
    <div class="continental_description">
        @Model.Settings["CookingDescription"]

    </div>
</div>
<!-- Continental end -->
<!-- Menu begin -->
<div class="menuWrap">
    <div class="menuWrap_left">
        @for (int i = 0; i < Model.Menus.Count / 2; i++)
        {
            <div class="menuWrap_item">
                <div class="menuWrap_itemHeader">
                    @Model.Menus[i].FoodName
                </div>
                <div class="menuWrap_itemDescription">
                    @Model.Menus[i].FoodDescription
                </div>
            </div>
        }




    </div>
    <div class="menuWrap_right">

        @for (int i = (Model.Menus.Count / 2); i < Model.Menus.Count; i++)
        {
            <div class="menuWrap_item">
                <div class="menuWrap_itemHeader">
                    @Model.Menus[i].FoodName
                </div>
                <div class="menuWrap_itemDescription">
                    @Model.Menus[i].FoodDescription
                </div>
            </div>
        }


    </div>
</div>
<!-- Menu end -->