
@{
    ViewData["Title"] = "Index";
}
@model List<Room>
<!--Rooms header begin -->
<div class="outHeader">
    <div class="outHeader_checkout" style="border-bottom: 1px solid lightgray;">
        Rooms
    </div>
</div>
<!-- Rooms header end -->
<!-- Checking begin -->
<!-- Chechking end -->
<!-- About room begin -->
<div class="roomAbout">
    
        @foreach (var item in Model)
        {
            <div class="roomAbout_item">
                <div class="roomAbout_leftside">
                    <div class="roomAbout_Photo">
                        <img src="~/assets/image/Room/RoomMainImage/@item.Image" alt="">
                    </div>
                    <div class="roomAbout_Name">
                        @item.Name
                    </div>
                </div>
                <div class="roomAbout_rightside">
                    <div class="roomAbout_about">
                        @item.Description
                    </div>
                    <div class="roomAbout_size">
                        @item.Size m2 / @item.GuestRange person
                    </div>
                    <div class="roomAbout_Booking">
                        <a asp-controller="room" asp-action="roomdetail" asp-route-id="@item.id" class="roomAbout_BookLink">BOOK NOW +</a>
                    </div>
                </div>

            </div>
            <hr>
        
    }
  

</div>


<style>
    .HelloAdult, .HelloChildren, .HelloInfant {
        font-weight: 300 !important;
        background-color: #FAF9F5 !important;
        height: 50px;
        padding: 0 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px !important;
        width: 30%;
        border: 1px solid rgb(206, 212, 218);
    }

    select option {
        font-weight: 300;
        font-size: 20px;
    }
</style>

