
@{
    ViewData["Title"] = "Index";
}
@model List<Room>
<!--Rooms header begin -->
<div class="outHeader">
    <div class="outHeader_checkout" style="border-bottom: 1px solid lightgray;">
        Rooms
    </div>
</div>
<!-- Rooms header end -->
<!-- Checking begin -->
<!-- Chechking end -->
<!-- About room begin -->
<div class="roomAbout">

    @if (Model.Count != 0)
    {
        @foreach (var item in Model)
        {
            <div class="roomAbout_item">
                <div class="roomAbout_leftside">
                    <div class="roomAbout_Photo">
                        <img src="~/assets/image/Room/RoomMainImage/@item.Image" alt="">
                    </div>
                    <div class="roomAbout_Name">
                        @item.Name
                    </div>
                </div>
                <div class="roomAbout_rightside">
                    <div class="roomAbout_about">
                        @item.Description
                    </div>
                    <div class="roomAbout_size">
                        @item.Size m2 / @item.GuestRange person
                    </div>
                    <form asp-controller="room" asp-action="roomdetail" asp-route-id="@item.id" method="get">
                        <input type="hidden" name="checkIn" value="@ViewBag.Checkin" />
                        <input type="hidden" name="checkOut" value="@ViewBag.Checkout" />
                        <input type="hidden" name="adults" value="@ViewBag.Adults" />
                        <input type="hidden" name="childrens" value="@ViewBag.Childrens" />
                        <input type="hidden" name="infants" value="@ViewBag.Infants" />
                        <div class="roomAbout_Booking">
                            <button class="roomAbout_BookLink">BOOK NOW +</button>
                        </div>
                    </form>
                </div>

            </div>
            <hr>
        }
    }
    else
    {
        <div class="empty">
            <div class="empty_type">
                There is no room available for these requests
            </div>
        </div>
    }

</div>


<style>

    .roomAbout_BookLink {
        width: 150px;
        height: 50px;
        border: 1px solid gray;
    }

    .HelloAdult, .HelloChildren, .HelloInfant {
        font-weight: 300 !important;
        background-color: #FAF9F5 !important;
        height: 50px;
        padding: 0 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px !important;
        width: 30%;
        border: 1px solid rgb(206, 212, 218);
    }

    select option {
        font-weight: 300;
        font-size: 20px;
    }
</style>

